body {
  width: 375px;
  height: 682px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 375px;
  height: 682px;
  background: #1c1a19;
  background-image: url("images/Illustration.png");
  background-repeat: no-repeat;
  background-position: 230px 320px;
}

.header {
  background: #3c3a39;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 330px;
  height: 92px;
  padding-top: 48px;
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 12px;
}

.logo {
  color: #fff;
  font-family: 'Roboto', serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-align: center;
}

.headline {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 120px 24px 120px 24px;
  gap: 12px;
  width: 375px;
  height: 590px;
  left: 0;
  top: 92px;
}

.primary_text {
  color: #ff6b00;
  width: 327px;
  height: 124px;
  font-family: 'Crete Round', serif;
  font-size: 56px;
  letter-spacing: 0.37px;
  line-height: 64px;
  font-weight: 400;
}

.supporting_text {
  color: #fff5e1;
  width: 327px;
  height: 27px;
  font-family: 'Roboto', serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
}

.description {
  color: #fff;
  width: 327px;
  height: 123px;
  font-family: 'Poppins', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.social_media {
  width: 150px;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.social_media_logo {
  flex: 1;
  padding: 12px;
}

.container-2 {
  display:grid;
  width: 375px;
}

.recent-works-title {
  color: #1c1a19;
  width: 327px;
  height: 83px;
  font-family:'Crete Round', Serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 400;
}

.recent-works-supporting-text {
  color: #091e42;
  width: 327px;
  height: 36px;
  font-family: 'Crete Round', serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
}

.recent-works-description {
  color: #091e42;
  width: 327px;
  height: 147px;
  font-family: 'Inter', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.recent-works-techs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 297px;
}

.recent-works-tech-items {
  color: #091e42;
  height: 20px;
  font-family: 'Inter', serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.recent-works-button {
  color: #fff;
  width: 124px;
  height: 48px;
  font-family: 'Inter', serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}

.card-works-title {
  color: #fff;
  width: 295px;
  height: 81px;
  font-family: 'Crete Round', serif;
  font-size: 32px;
  line-height: 44px;
  font-weight: 400;
}

.card-works-description {
  color: #fff;
  width: 295px;
  height: 87px;
  font-family: 'Inter', serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
}

.card-works-tech-items {
  color: #fff;
  height: 20px;
  font-family: 'Inter', serif;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
}

.card-works-button {
  color: #fff;
  width: 327px;
  height: 48px;
  font-family: 'Inter', serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
}


/*images styling section, display*/

.card-works {
  background-image: url("images/card_works_background.png");
  background-repeat: no-repeat;
  gap: 24px;
}